*{
    margin: 0px;
    padding: 0px;
}


.purchaseOrderForm{
    background-color: rgb(241, 239, 239);
    height: fit-content;
    width: fit-content;
    /* margin: auto; */
    margin: auto;
    margin-top: 150px;
    padding: 80px;
    border-radius: 20px;
    /* mar */
}